#About{
    height: 100vh;
    background-color: var(--cor1);
    display: flex;
    justify-content: space-evenly;
}
#About #foto{
    height: 97vh;
    width: 40vw;
}

#About img {
    max-width: 80%;
    border-radius: 50%;
    margin-top: 80px;
}

#About #text-about{
    height: calc(97vh-150px);
    width: 40vw;
    font-size: 1.7em;
    text-align: center;
    margin-top: 80px;
}