@charset "UTF-8";


:root{
    --cor0:#BF1F3C;
    --cor1:#6E65A6;
    --cor2:#1B3651;
    --cor3:#4EA69D;
    --cor4: #1A7E8A;
    --cor5: #ffcc00;
}


*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: var(--cor2);
    color: white;
}

