@charset "UTF-8";


:root{
    /* --cor0:#BF1F3C;
    --cor1:#6E65A6;
    --cor2:#1B3651;
    --cor3:#4EA69D;
    --cor4: #1A7E8A;
    --cor5: #ffcc00; */

    --cor0: #0D0D0D;
    --cor1: #000000;
    --cor2: #0082A6;
    --cor3: #175F73;
    --corB: white;

}


*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor0);
    color: white;
    overflow-x: hidden;
}



header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1000;
}
header nav{
    margin-right: 150px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 2px black;
}
header nav a:hover{
    color: var(--cor2);
    font-size: 25px;
}
header nav a::before{
    content: "";
    width: 0px;
    height: 2.5px;
    position: absolute;
    bottom: -5px;
    background-color: var(--cor2);
    transition: .3s;
}
header nav a:hover::before{
    width: 60px;
}


#Home {
    height: 100vh;
    width: 92vw;
    transform: translateY(150px);
    display: flex;
    justify-content: space-evenly;
}


#profile {
    width: 30%;
    padding: 0;
}
#profile img {
    max-width: 100%;
    border-radius: 50%;
}


#info {
    width: 50%;
    font-size: 1.8em;
}
#info #curriculo a {
    color: var(--corB);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.6em;
    background-color: var(--cor3);
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
}
#info #curriculo a:hover {
    color: var(--cor3);
    background-color: var(--cor2);
}

h2{
    margin-bottom: 10px;
}

p{
    margin-top: 20px;
    font-size: 0.7em;
}


.icon-box{
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1.6em;
}
.icon-box a{
    color: var(--cor3);
    text-shadow: 2px 2px 2px black;
}
.icon-box a :hover{
    color: var(--cor2);
    font-size: 1.15em;
}


#curriculo{
    margin-top: 20px;
    display: flex;
    justify-content: left;
}



#About{
    height: 100vh;
    background-color: var(--cor1);
    display: flex;
    justify-content: space-evenly;
}
#About #foto{
    height: 97vh;
    width: 40vw;
}

#About img {
    max-width: 80%;
    border-radius: 50%;
    margin-top: 80px;
}

#About #text-about{
    height: calc(97vh-150px);
    width: 40vw;
    font-size: 1.7em;
    text-align: center;
    margin-top: 80px;
}


#Skills{
    height: 100vh;
}

#Skills #skill-titulo{
    color: #fff;
    background-color: var(--cor0);
    height: 150px;
}

#Skills #skill-titulo h2{
    transform: translate(20%,120%);
    text-shadow: 0px 0px 10px rgba(0, 217, 255, 0.5);
    font-size: 3em;
}

#container{
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: row; 
}


#Skills #skill-1{
    color: #fff;
    border-radius: 50px;
    height: 100%;
    width: 50%;
    
}

#Skills #skill-right{
    width: 50%;
    height: 100%;
    margin-top: -50px;
}

#Skills #skill-2{
    color: #fff;
    width: 85%;
    height: 100%;
    font-size: 1.5em;
    overflow: auto;
    font-size: 15px;
}

.porcetagem{
    font-size: 3em;
    transform: translate(0,-250%);
    margin: 0;
    padding: 0;
}

#Skills #skill-3{
    color: #fff;
    height: 50%;
}


#Portifolio{
    height: 100vh;
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Portifolio #container{
    height: 80%;
    width: 80%;
    display: block;
}

#Portifolio #container h1{
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#portifolio{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projetos{
    background-color: rgb(153, 153, 153);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    height: 170px;
    width: 250px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.projetos::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.41), red);
  }

.projetos:hover::before, .projetos:hover h2{
  animation: subir 0.3s ease forwards;
}


.projetos h2{
    position: absolute;
    top: 150%; /* Inicialmente fora da visão */
    left: 50%;
    transform: translate(-50%, 300%);
    color: white;
    font-size: 18px;
    transition: opacity 0.3s ease;
  }


  @keyframes subir {
    to {
      top: 0;
      opacity: 1;
    }
  }




#Contact{
    background-color: var(--cor0);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

#form{
    height: 100vh;
    width: 40%;
    display: flex;
    align-items: center;
}
#name, #email,#message{
    width: 70%;
    margin-right: 30%;
    margin-top: 20px;
    padding: 20px 10px;
    background-color: var(--cor3);
    cursor: pointer;
    border: none;
    border-radius: 8px;
}
#name:valid, #email:valid, #message:valid {
    background-color: #ffffff; /* Altere para a cor desejada */
}
#submit{
    width: 25%;
    background-color: var(--cor3);
    border: none;
    margin-top: 10px;
    padding: 8px 3px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: .3s;
}
#submit:hover{
    background-color: var(--cor2);
    transform: scale(1.07);
}


#info-contact{
    height: 70vh;
    width: 40%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin-top: 20vh;
    font-size: 1.5em;
    color: var(--cor2);
}
#info-contact h1{
    margin-top: 50px;
    margin-left: 30px;
}
#info-contact h4{
    margin-top: 30px;
    margin-left: 50px;
}
#info-contact #outros{
    display: flex;
    justify-content: left;
    font-size: 1.7em;
}
#info-contact a{
    margin-top: 50px;
    text-decoration: none;
    color: white;
    font-size: 0.7em;
}

::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
 ::-webkit-scrollbar-track {
    background: #1b1819;        /* color of the tracking area */
  }
  
::-webkit-scrollbar-thumb {
    background-color: var(--cor2);    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
  }


  em{
    color: var(--cor2);
    font-size: 1.2em;
  }